@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Hide scrollbar but allow scroll */
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
} */



.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(152, 148, 151, 0.4);
  border-radius: 999px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

